<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论监控</title>
    <!-- 引入bootstrap样式文件 -->
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <style>
        html,body{
            width: 100%;
            height: 100%;
        }
        body{
            background: url('img/bg3.png')
        }
        .admin_content{
            height: 100%;
        }
        .container{
           height: 100%;
        }
        .nav{
            min-height: 50px;
            background: #E3D9DD;
        }
        .nav ul{
            width: 100%;
            list-style: none;
            display:inline-block;
        }
        .nav ul li{
            float: left;
            height: 50px;
            line-height: 50px;
        }
        .comments{
            border-right: 3px solid #E3D9DD;
            border-left: 3px solid #E3D9DD;
            height: 40px;
            line-height: 40px;
        }
        .comments .title{
            background: #E3D9DD;
        }
        .comments .content{
            margin-left: 10px;
            padding: 0;
            border-bottom: 2px solid #E3D9DD;
            background: #fff;
        }
        button{
            background: #E3D9DD;
        }
        select,
        input,
        textarea{
            margin-top: 10px;
        }
        .title1{
            text-align: center;
            display: inline-block;
            background: #E3D9DD;
            width: 80px;
            height: 30px;
            line-height: 30px;
            margin-right: 5px;
        }
        @media screen and (max-width: 550px) {
            .title{
                display: none;
            }
            .nav ul li {
                padding: 0;
            }
        }
        @media screen and (min-width: 550px) {
            .title1{
                display: none;
            }
        }
        .page{
            background: #E3D9df;
            width: 30px;
            height: 30px;
            float: left;
            text-align: center;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="row admin_content">
        <div class="col-md-3 col-12 nav">
            <ul class="row">
                <h3 class="col-md-12">欢迎！<span><%= admin%></span>
                    <a href="/admin/logout" style="font-size:16px;">退出</a>
                    <a href="/admin/goIndex" style="font-size:16px;">前台</a>
                </h3>
                <li class="col-md-12 col-3">
                    <a href="/admin/adminUser">用户管理</a>
                </li>
                <li class="col-md-12 col-3">
                    <a href="/admin/adminFoodRec">菜谱推荐</a>
                </li>
                <li class="col-md-12 col-3">
                    <a href="/admin/adminFoodAdd">菜谱添加</a>
                </li>
                <li class="col-md-12 col-3">
                    <a href="/admin/adminComments">评论审核</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-12 content" style="height:100%;">
            <div class="container" style="background:#fff;">
                <div class="row comments">
                    <div class="col-sm-2 title">动态id</div>
                    <div class="col-sm-2 title">用户id</div>
                    <div class="col-sm-3 title">评论内容</div>
                    <div class="col-sm-3 title">时间</div>
                    <div class="col-sm-2 title">操作</div>
                    <% comments.forEach(function (comment) { %>
                        <div class="col-md-12 content row">
                            <div class="col-md-2"><span class="title1">动态id</span><%= comment.new_id%></div>
                            <div class="col-md-2"><span class="title1">用户id</span><%= comment.user_id%></div>
                            <div class="col-md-3"><span class="title1">评论内容</span><%= comment.content%></div>
                            <div class="col-md-3"><span class="title1">时间</span><%= comment.createtime%></div>
                            <div class="col-md-2">
                                <button class="deleteComment">
                                    <div class="id" style="display: none;"> <%= comment.id %></div>
                                    <div class="page" style="display: none;"> <%= page %></div>
                                    违规删除
                                </button>
                            </div>
                        </div>
                    <%}) %>
                    <div class="col-md-12" style="background:#fff;">
                        <% for(var i=0; i<count;i++){%>
                            <a href="/admin/commentPage?page=<%= i%>">
                                <div class="page"><%= i%></div>
                            </a>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    

     <!--引入jQuery-->
     <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
     <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
     <script>
            $(document).ready(function () {
                // 删除数据
                $('.deleteComment').on('click',function () {
                    var id = $.trim($(this).children('.id').text());
                    var page = $.trim($(this).children('.page').text());
                    // 将数据传递到服务器中
                    $.ajax({
                        type:"POST",
                        url:'/admin/deleteComments',
                        data:{
                            id:id,
                            page:page
                        },
                        success:function (data) {
                            location.reload();
                        }
                    })
                });
    
            });
        </script>
</body>

</html>
